.top-side-ver-space{
    margin-top: 0%;
    margin-bottom: 2%;
}

.side-ver-space{
    margin-top: 0%;
    margin-bottom: 0%;
}

h5{
	color: white;
	text-align: center;
}


.biling-btn{
	color: white;
	text-align: center;
	 margin-bottom: 5%;
	font-size: 80%;	
}

.k-font-style{
	
	font-size: 12px;

}

.k-back-style{
	background-color: #702900;
	font-size: 9px;

}